.footer {
    width: 100%;
    height: 100px;
    background-color: #121619;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}
.socialMedia svg{
    color:white;
    margin: 10px;
    font-size: 30px;
    cursor: pointer;
}
.socialMedia svg:hover{
    transform: scale(1.5);
    transition: 0.5s;
}
.instagram:hover{
    color:#b51515
}
.facebook:hover{
    color:rgb(18, 53, 225);
}
.footer p{
    color: white;
}
